* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2.5rem;
    margin: 1.5rem; 
    border-radius: 0.5rem;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.125rem; 
}

.nav-links a:hover {
    color: #00bfff;
}

.search {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    width: 50rem;
}

.logo img {
    width: 3rem; 
    height: auto;  
}
